<header>
  <mat-toolbar class="toolbar">
    <a mat-icon-button aria-label="Home" routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
    <span class="toolbar__title">User service</span>
    <span class="spacer"></span>
    @if (user.isLoggedIn()) {
    <nav>
      @if (user.user(); as currentUser) {
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="user menu"
        i18n-aria-label
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <span mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>{{ currentUser.name }}</span>
        </span>
        <a mat-menu-item href="/authentication/logout">
          <mat-icon>logout</mat-icon>
          <span i18n>Logout</span>
        </a>
      </mat-menu>
      }
    </nav>
    }
  </mat-toolbar>
</header>
<main>
  <article>
    <router-outlet />
  </article>
</main>
